<div class="container">

<div class="hero-unit">
  <h1>Crew <?php getCurrentAcademicYear(True); ?></h1>
  <p class="lead">Check out the sexy crew.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h3> <i> Crew 2013</i></h3>
    </div>
</div>  

<!-- ---------------------------------------------------------Crew 2013 ------------------------------------------------------------------------ -->

<div ng-if="isLoaded()" class="row" ng-repeat="i in [] | range:3">
  <div class="col-md-2" ng-repeat="j in [] | range:6">
    <h3>{{crew2013[i*6+j].name}}</h3>
    <div class="row">
      <div class="col-md-12">
        <img ng-src="{{crew2013[i*6+j].imageUrl}}" width="100%" height="100%" style="max-height:220px;max-width:160px"/>
      </div>      
    </div>
  </div>
</div>

<!-- ---------------------------------------------------------------Crew 2012 ------------------------------------------------------------------ -->

    <div>
        <h3> <i>Crew 2012</i></h3>
        <img src="images/crew2012/ducks6by3.png" width="1170" height="659" usemap="#duckmap">
        <map name="duckmap">
        <!-- <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="0,0,190,215" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="195,0,388,215" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="392,0,584,215" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="589,0,778,215" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="784,0,975,215" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="980,0,1170,215" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="0,220,190,437" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="195,220,388,437" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="392,220,584,437" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="589,220,778,437" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="784,220,975,437" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="980,220,1170,437" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="0,443,190,658" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="195,443,388,658" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="392,443,584,658" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="589,443,778,658" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="784,443,975,658" alt="adri"></a>
        <a href='#' rel="tooltip" data-placement="top" data-html="true" data-original-title="<table><tr><td>Name:</td><td>Adrianna Liu</td></tr><tr><td>a.k.a.:</td><td>Love Welfare Officer</td><tr><td>Dance Inspirations:</td><td>Shaun Evaristo, Lyle Beniga, Shit Kingz</td></tr><tr><td>Started hip hop in:</td><td>2010</td></tr></table>"><area shape="rect" coords="980,443,1170,658" alt="adri"></a>-->       </map>
    </div>
</div>

</div>
