*.html~
*.jpg~
*.png~
*.txt~
*.css~
.gitignore~
*.log
*.log~
*~

crew2013/
addr.txt
vids/
meme ideas.txt
copyright.txt
bootstrap-3.0.0/
committee2013/
Template for Funkology Website.docx
manifesto_publicity_officer_jo.docx
Funk Ducks/
chrisnomination.docx
newFunk/