<div class="container">
  <div class="hero-unit">
  <h1>Breakdance</h1>
   <p class="lead">True underground.</p>
 </div>
<!--  <div class="row">
  <div class="col-md-12">
    <p class="lead">FuNkoLoGy is part of the Union of Imperial College London. An annual fee of 5 pounds is charged for anyone who wants to be part of FuNkoLoGy. </p>
    <h2>Benefits of being a member: </h2>
    <h3> - Reduced price for all classes</h3>
    <p>Rates for <?php getCurrentAcademicYear(true); ?> for all classes <strong>*Classes are free for the month of October!*</strong>:</p>
    <table class="table table-bordered">
      <tr>
        <th></th>
        <th>Member</th>
        <th>Non-Member</th>
      </tr>
      <tr>
        <th>Price</th>
        <td>&pound;2</td>
        <td>&pound;2.5</td>
      </tr>
    </table>
    
    <h3> - Loyalty Card </h3>
    <p class="lead">Become a member to get registered to our exclusive loyalty card system! Funk classes are super fun on their own, but they are even more funky with the loyalty card! The table below shows rewards for number of classes you turn up!</p>
    <table class="table table-bordered">
      <tr>
        <th>Number of classes attended</th>
        <th>Reward</th>
      </tr>
      <tr>
        <td>5</td>
        <td>a free class</td>
      </tr>
      <tr>
        <td>10</td>
        <td>a free class + Funk Wristband</td>
      </tr>
      <tr>
        <td>15</td>
        <td>a free class + Funk T-shirt</td>
      </tr>
    </table>

    <h3> - Subsidized Social Events</h3>
    <p class="lead">Click <a href="https://www.imperialcollegeunion.org/shop/club-society-project-products/dance---funkology-products/" target="_blank">here</a> to purchase membership now!</p>
  </div>
</div> -->
</div>
