<div class="container">
<!-- Page Content goes here -->
<div class="hero-unit">
  <h1>Committee <?php getCurrentAcademicYear(True); ?></h1>
  <p class="lead">Feel free to get in touch with us if you need anything.</p>
</div>

<div ng-if="isLoaded()" class="row" ng-repeat="i in [] | range:3">
  <div class="col-md-4" ng-repeat="j in [] | range:3">
    <h3>{{committee[i*3+j].position}} - {{committee[i*3+j].name}}</h3>
    <div class="row">
      <div class="col-md-6">
        <img src="{{committee[i*3+j].imageUrl}}" width="100%" height="100%" />
      </div>
      <div class="col-md-6">
      <p><strong>Alias</strong>: {{committee[i*3+j].alias}}</p>
      <p><strong>Email</strong>: {{committee[i*3+j].college_id}}@ic.ac.uk</p>
      </div>
    </div>
  </div>
</div>

</div>
