<!-- Page Content goes here -->

<div class="container">
	<div class="hero-unit">
		<div class="text-center">
			<p><img src="images/logos/Design.png" width="295" height="216"/></p>
			<p>We are a pioneering dance team based at Imperial College London, studying and specialising in hiphop and streetdance forms.</p>
		</div>   
	</div>
	 
	<div class="row">
		<div class="col-md-4">
			<h2>Announcements</h2>
			<p>Interested to know what we're up to? Click <a href="#/events">here</a></p>
	        <p>Check out new class <a href="#/classes">timetable!</a></p>
	        <h3>Twitter Feed</h3>

	        <twitter-timeline><!--  Check js/controller.js --></twitter-timeline>
	    </div>
	    <div class="col-md-8">
			<h2>Who we are</h2> 
				<p>FuNkoLoGy began in 2003 as a simple outlet for a group of students and alumni of Imperial College to train and develop their passion for urban dance. What followed was a group of dancers who share a common goal to promote this discipline, share their expertise and push the boundaries of Hip-Hop Dance Performance across the UK university community.</p>
				<h4>Come take class with us!</h4>
				<p><iframe width="640" height="360" src="https://www.youtube.com/embed/K39rpgGImx8" frameborder="0" allowfullscreen></iframe></p>
	    </div>
	</div>
</div>
