<div class="container">
<div class="hero-unit">
   <h1>Videos</h1>
   <p class="lead">Check our latest videos for our classes, competitions and concepts.</p>
</div>

 <ul class="nav nav-tabs">
    <li ng-class="{active: activeTab === 'classes'}">
     <a ng-click="switchTabTo('classes')">Classes/Workshops</a>
  </li>
  <li ng-class="{active: activeTab === 'concepts'}">
     <a ng-click="switchTabTo('concepts')">Concepts</a>
  </li>
  <li ng-class="{active: activeTab === 'competitions'}">
     <a ng-click="switchTabTo('competitions')">Competitions</a>
  </li>
  <li ng-class="{active: activeTab === 'performances'}">
     <a ng-click="switchTabTo('performances')">Performances</a>
  </li>
  <li ng-class="{active: activeTab === 'funkyvids'}">
     <a ng-click="switchTabTo('funkyvids')">Funky Vids!</a>
  </li>
</ul>

<div class="row">
   <div class="col-md-12">
         <youtube-playlist code="playlist"></youtube> 
   </div>
</div>


<p class="lead"> Want to see more? Check out our <a href="https://www.youtube.com/user/ICUFuNkoLoGy">YouTube</a> channel! <a><p>

</div>